
body {
  margin: 0; 
  font-family: 'Courier New', Courier, monospace;
}

/*Allmän style*/
main {
  width: 1000px; 
  max-width: 100%; 
  margin: 0 auto; 
} 

article {
  max-width: 36em; 
}

/*Footer*/
footer {
  border: 2px solid #454545; 
  bottom: 0; 
  padding: 1em; 
  text-align: center;
  position: fixed; 
  width: 95%; 
  margin-bottom: 2%; 
  margin-left: 1.5%; 
} 

/*navigering*/
nav {
  display: flex; 
  flex-direction: column;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
