@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hejsan välkommen</h1>
    <article>
        Detta är en enkel webbplats som är skapad med Razor pages. Under Razor så hittar du datum, tid och kurser som jag handarbeta läst och under om sidan så finns
        lite infromation om sidan och om mig.
    </article>
    <br>
    <button id="startBtn">Klicka på mig!</button>
    <div id="secretMsg"></div>
</div>
