@page
@model PrivacyModel
@{
    ViewData["Title"] = "Om sidan";
}
<h1>@ViewData["Title"]</h1>

<article>
    Denna sidan är skapad med Razor Pages. Det är min första webbplats skapad med Razor, och det var roligt.
    Jag som skapat sidan heter Stina. Jag bor i Linköping tillsammans med min hund Doris och min sambo Johan. 
    När jag inte gör webbsidor så tycker jag om att bland annat handarbeta, baka och spela spel. 
</article>
