@page
@model MyApp.Namespace.RazorModel
@{
    ViewData["Title"] = "Razor"; 
} 

<h1>@ViewData["Title"]</h1>

<b>Datum och klockslag:</b> <p>@DateTime.Now</p>


<!-- om det är fredag -->

@if(DateTime.Today.DayOfWeek == DayOfWeek.Friday) {
    <p>Idag är det fredag! :)</p>
    } else {
        <p>Det är inte fredag Idag :(</p>
    }

<b>Kurser jag läst:</b>
@{
    /*Skapar en lista och lägger till kurser i listan*/
    List<string> Courses = new List<string>(); 
    
    Courses.Add("Webbutveckling I"); 
    Courses.Add("Javascript I"); 
    Courses.Add("Webbanvändbarhet"); 
    Courses.Add("Grafisk teknik för webb"); 
    Courses.Add("Databaser"); 
    Courses.Add("Frontend-baserad utveckling");
    Courses.Add("Backend-baserad utveckling"); 
    Courses.Add("Programmering i TypeScript"); 
    Courses.Add("Projektledning"); 
    Courses.Add("Programmering i C#.NET"); 
    Courses.Add("Fullstack-utveckling med ramverk");
    Courses.Add("Webbutveckling för WordPress"); 

    foreach(string course in Courses) {
        <ul>
            <li>@course</li>
        </ul>
    }
}

